$fonts: "Montserrat", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
  "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$white-color: #fff;
$primary-color: #10182f;
$bg-color: #f7f8fc;
$grey-color: #cccccc;
$orange-color: rgb(233, 102, 8);
$purple-color: purple;
$blue-color: rgb(21, 108, 185);
