$fonts: "Montserrat", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
  "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$white-color: #fff;
$primary-color: #10182f;
$bg-color: #f7f8fc;
