.App {
  background: #efefef;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  padding: 12px;
}

.ship {
  background: white;
  border-radius: 8px;
  padding: 20px;
  min-height: 200px;
  min-width: 200px;
}
